/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.search-book-section {
    justify-content: center;
}

.table td {
    vertical-align: baseline !important;
}

.donate-button {
    text-align: center !important;
}

#header {
  background-color: orange;
}
.appName {
  font-size: 5em;
}
#myInput{
  margin-bottom: 1em;
  padding: 0.25em 8em 0.25em 0.5em;

}
#title{
    font-size: 15px;
    font-weight: bold;
}
#author{
  font-style: italic;
}

.btn-info {
    background-color: purple !important;
    border-color: purple !important;
}

.search-bookshelf {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.search-bookshelf h2 {
    margin-bottom: 0.5em;
}
